header {
    background-color: #222;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;

    align-items: center;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    transition: background-color 0.5s ease-out;
}
.vector{display: flex;
flex-wrap: wrap;}
.vector img, .vector p{
    flex: 1 1 100%;
}
.vector img{
            max-width: 300px;
        max-height: 400px;
}
.add{
    font-size:30px;
    text-align:center;
}
h4{
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    margin: 0  ;
margin-bottom: 20px;
    text-align: center;
}

.scroll-anim{
    margin-top:20px;
    opacity: 1;
padding-bottom: 10px;
    display: block;

    width: auto;
    height:auto;
    background-color: #f1f1f1;
    border: 2px solid #f1f1f1;
    border-radius: 10px;
  
}

.fade-in-from-left{

}
.fav {
    border-radius: 50px;
}

section {


    display: flex;
    padding: 20px;
    padding-left: 50px;
    align-items: center;
    position: relative;


}

.img-1 {
    max-width: 300px;
    max-height: 100px;



}

h1 a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    transition: color 0.5s ease-out;
}

h1 {
    position: absolute;
    margin-left: 3%;
    margin-right: 10%;
}

h1 a:hover {
    color: rgb(0, 100, 167);
}

nav {
    display: flex;
    align-items: center;

}

#menu {
    position: absolute;
    cursor: pointer;
    display: none;
    margin-right: 10px;
    background-color: #222;
    text-decoration-line: none;
opacity:0;
transition: none;
    top: 80%;
    left: 0;
    right: 0;
    width: 40%;
    height: 110%;
    text-align: left;

    font-size: 20px;
    box-shadow: 0, 0, rgba(0, 0, 0, 0.5);
    



}


#menu-icon {
    background-color: #222;
    border: none;
    cursor: pointer;
    visibility: hidden;
}


#menu-icon .icon {
    background-color: #fff;
    display: block;
    height: 3px;
    margin: 5px 0;
    transition: background-color 0.5s ease-out;
    width: 25px;
    visibility: hidden;
}

#menu-icon .icon:hover {
    background-color: rgb(0, 100, 167);
}

.menu li {
    text-decoration-line: none;
    margin: 0 10px;
    list-style: none;


}

.menu li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    transition: color 0.5s ease-out;
    right: 5%;
    margin-top: 5px;



}

.menu li a:hover {
    color: rgb(0, 100, 167);
}

.menu-icon:hover icon {
    background-color: rgb(0, 100, 167);
}

#actions-pc {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 40%;
}

#actions-pc li {
    display: inline-block;
    margin-right: 20px;

}

#actions-pc li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.5s ease-out;
    transition: all 0.5 ease-out;

}

#actions-pc li .contact {
    width: 200%;
    height: 25px;
    border: 1px transparent;
    border-radius: 10px;

}

#actions-pc li a:hover {
    color: rgb(4, 136, 224);
    font-size: 20.3px;
}

@media only screen and (max-width: 768px) {
    
.scroll-anima{
    margin-top:0;
    background-color:#f1f1f1b6;
       opacity: 1;
    
       display: block;
    
       width: auto;
       height:auto;
       background-color: #f1f1f1;
       border: 2px solid #f1f1f1;
       border-radius: 10px;
       padding: 20px;
       box-shadow: #222222a1;
       
   }
   
.fade-in-from-lefta{
    opacity: 1;
    transform: translateX(-50%);
}
   
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;

        left: 0;
        right: 0;
        background-color: #222;
        padding: 10px;
        padding-bottom: 40px;
    }

    .menu-icon {
        display: block;
        visibility: visible;
    }

    .menu-icon .icon {
        visibility: visible;
    }

    .menu-icon:hover icon {
        background-color: #fff;
    }

    .menu li {
        margin: 10px 0;
    }

    header {
        justify-content: space-between;

    }

    header .menu-open {
        background-color: rgba(0, 0, 0, 0.9);

    }

    header .menu-open .menu {
        display: flex;
    }

    .menu li a {
        right: 0%;
    }


    #uwu {

        position: relative;



        width: 100px;
        height: 100px;

        border-radius: 50px;
        margin-left: 0;
        visibility: visible;
    }

    h1 {
        position: relative;
        margin-left: 5%;

    }
}



main {

    padding: 50px 20px;
    overflow: hidden;
}

.container {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;

}

h2 {
    font-weight: bold;
    color: #f1f1f1;
    margin: 0 0 10px;
    margin-top: 20px;

    text-align: center;
}
h3 {
    font-size: 36px;
    font-weight: bold;
    color: #222;
    margin: 0  ;
margin-bottom: 20px;
    text-align: center;
}



p {


    font-size:20px;
    color: #222;
    margin: 0;


}

img {

}

@media (Max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .scroll-anima{
        margin-top:0;
        background-color:#f1f1f1b6;
           opacity: 1;
       
           display: block;
        
           width: auto;
           height:auto;
           background-color: #f1f1f1;
           border: 2px solid #f1f1f1;
           border-radius: 10px;
           padding: 20px;
           box-shadow: #222222a1;
      
       }
       
    .fade-in-from-lefta{
        opacity: 1;
        transform: translateX(0%);
    }
       
    p {
        flex: 0 0 100%;
        margin-top: 15px;

    }

    .img-1 {
        position: relative;
        margin-left: 0;
        flex: 0 0 100%;
        opacity: 1;
        width: 100px;
        height: 100px;
        align-self: center;


    }

    h2 {
        font-weight: bold;
     color: #f1f1f1;
        margin: 0 0 10px;
        text-align: center;
    }

    #uwu {

        flex: 100%;
        position: relative;
     


        width: 100px;
        height: 100px;

        border-radius: 50px;
        margin-left: 0px;
        visibility: visible;
    }

    #menu-icon {
        background-color: #222;
        border: none;
        cursor: pointer;
        visibility: visible;
    }


    #menu-icon .icon {
        background-color: #fff;
        display: block;
        height: 3px;
        margin: 5px 0;
        transition: background-color 0.5s ease-out;
        width: 25px;
        visibility: visible;
    }

    #actions-pc {
        visibility: hidden;
    }

    article {
        margin-top: 50%;
    }
    h3{
       
        font-size: 36px;
    }
    p{
        font-size: 23px;
    }
    .scroll-anim p{
        padding-right: 10px;
        padding-left: 10px;
    }
    #content h3{
    margin-top: 100px;
}
    #content .vector .right{
    font-size:12px;
    }
}

html {
    background: linear-gradient(to bottom, #4355fc, rgb(0, 100, 167));
    padding: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#uwu {
    position: relative;
    display: flex;

    width: 100px;
    height: 100px;

    border-radius: 50px;
   

}

@media (min-width: 768px) {
    .margin-left{
        margin-left:30px;
        font-size: 27px;
    }
    
    #uwu {
        visibility: hidden;
    }

    article {
        margin-top: 10%;
    }
    #content{
        display: flex;
        flex-direction: column;
        flex-wrap:wrap;
        justify-content: space-between;
        align-items: center;
    }
    #content p {
        font-size: 30px;
    }

}
#content{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    padding:50px;
    max-width: 1200px;
    margin: 0 auto;
    background-color:#fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border: radius 5px;
    border: 5px transparent;
    
}
#content h3{
    margin-top: 50px;
    flex: 1 1 100%;
}
#content .art-content{
    flex-basis:100%;
margin-top: 30px;



}
.vector img{
   
}
@media only screen and (min-width: 768px){
    .vector{
        flex-wrap: nowrap;


    }
    .vector p{
flex: 3;
    }

    .art-content{
        flex-basis:48%;
     
    }
    
.right{
    margin-right: 100px;
}
    .vector img{
        flex: 1;
        max-width: 500px;
        max-height: 500px;
    }
.scroll-anim{
 background-color:#f1f1f1b6;
    opacity: 1;

    display: block;
 
    width: 1200px;
    height:auto;
    background-color: #f1f1f1;
    border: 2px solid #f1f1f1;
    border-radius: 10px;
    padding: 20px;
    box-shadow: #222222a1;
        margin-left:30px;
}

.fade-in-from-left{
    opacity: 1;
    transform: translateX(0);
}
 
.scroll-anima{
    margin-top:0;
    background-color:#f1f1f1b6;
       opacity: 1;

       display: block;
    
       width: 1200px;
       height:auto;
       background-color: #f1f1f1;
       border: 2px solid #f1f1f1;
       border-radius: 10px;
       padding: 20px;
       box-shadow: #222222a1;
       margin-left:30px;
   }
   
.fade-in-from-lefta{
    opacity: 0;
    transform: translateX(0%);
}
   
}

#contact form{
  
  
    width: auto;

    align-items: center;
   
    margin: 0 auto;

}
#contact input, textarea{
font-size: 1rem;
margin-bottom: 1rem;
padding: 0.5rem;
border-radius: 5px;
}
#contact input[type="submit"]{
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
